@model WebBanHangOnline.Models.EF.Order
@using PagedList;
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<style>
    td {
        color: black;
    }
</style>
<div style="height: 100px;"></div>
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/home" class="stext-109 cl8 hov-cl1 trans-04">
            Trang chủ
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <a href="/lich-su-don-hang" class="stext-109 cl8 hov-cl1 trans-04">
            Lịch sử đơn hàng
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <span class="stext-109 cl4">
            Chi tiết đơn hàng
        </span>
    </div>
</div>
<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mã đơn hàng</label>
                                <p class="form-control">@Model.Code</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Họ tên khách</label>
                                <p class="form-control">@Model.CustomerName</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tổng tiền</label>
                                <p class="form-control">@WebBanHangOnline.Common.Common.FormatNumber(Model.TotalAmount, 0) đ</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <p class="form-control">@Model.Phone</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ngày tạo</label>
                                <p class="form-control">@Model.CreatedDate.ToString("dd/MM/yyyy")</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <p class="form-control">@Model.Email</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <p class="form-control">@(Model.Status == 1 ? "Chưa hoàn thành" : "Đã hoàn thành")</p>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2>Danh sách sản phẩm</h2>
                        </div>
                        <div class="col-12">
                            @Html.Action("Partial_SanPham", "Order", new { id = Model.Id })
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">

                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
</div>
</div>