@model WebBanHangOnline.Models.EF.Support
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">


    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/admin/home">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="/admin/support">Hỗ trợ khách hàng</a></li>
                        <li class="breadcrumb-item"><a href="#">Phản hồi</a></li>
                    </ol>
                </div>
                <h4 class="page-title">Quản lý hỗ trợ</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Cập nhật thông tin phản hồi</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("Edit", "Support", FormMethod.Post, new { }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(m => m.Id)

                            <div class="form-group">
                                <label>Tiêu đề</label>
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @readonly = "readonly" })
                            </div>

                            <div class="form-group">
                                <label>Nội dung</label>
                                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @readonly = "readonly" })
                            </div>

                            <div class="form-group">
                                <label>Phản hồi</label>
                                @Html.TextAreaFor(m => m.Respond, new { @class = "form-control", placeholder = "Nhập nội dung phản hồi" })
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Cập nhật</button>
                                <a href="/admin/support" class="btn btn-danger">Quay lại</a>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
